
  
  /* fonts */
  @font-face {
    font-family: 'Survivant Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Survivant Regular'), url('./fonts/survi___.woff') format('woff');
  }

  /* Literals */
:root {
    /* Colors */
    --base-light: #faf0f7;
    --base-dark: #1b2020;
  
    /* Widths */
    --width-desktop: 1040px;
    --width-mobile: 768px;
  
    /* Sizes for padding and fonts */
    --size-xxl: 2rem;         /* 32px */
    --size-xl: 1.75rem;       /* 28px */
    --size-l: 1.5rem;         /* 24px */
    --size-lm: 1.25rem;       /* 20px */
    --size-base: 1rem;        /* 16px */
    --size-sm: 0.75rem;       /* 12px */
    --size-s: 0.5rem;         /* 8px */
    --size-xs: 0.25rem;       /* 4px */
    --size-xxs: 0.125rem;     /* 2px */
  }
  
  
  /* Light mode */
  :root {
    --base-bg: var(--base-light);
    --base-color: var(--base-dark);
    --hover-filter: brightness(120%);
  }
  
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
      --base-bg: var(--base-dark);
      --base-color: var(--base-light);
      --hover-filter: brightness(60%);
    }
  }
  
  
  body {
    background-color: var(--base-bg);
    color: var(--base-color);
    font-size: var(--size-base);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-center;
    font-family: 'Survivant Regular', serif;
  }
  
  h1 {
    font-size: 1.5rem;
  }